@import './base.css';
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme{
  /* Colors */
  --color-primary: #12294B;
  --color-secondary: #7988D2;
  --color-tertiary: #405B77;

  /* Custom Breakpoints */
    --breakpoint-xs: 420px;
    --breakpoint-nav: 950px;
    --breakpoint-wide: 1200px; 
}


@layer components {
    .nav-link {
        @apply text-white text-base tracking-wide font-normal relative;
    }
}